image: ubuntu:bionic

pipelines:
  default:
    - step:
        script:
          # Dependencies
          - apt update
          - apt -y install wget lsb-release gnupg
          - sh -c 'echo "deb http://packages.osrfoundation.org/gazebo/ubuntu-stable `lsb_release -cs` main" > /etc/apt/sources.list.d/gazebo-stable.list'
          - wget http://packages.osrfoundation.org/gazebo.key -O - | apt-key add -
          - apt update
          - apt -y install
            cmake pkg-config python cppcheck doxygen ruby-ronn
            mercurial libcurl4-openssl-dev libjsoncpp-dev libzip-dev libgflags-dev libtinyxml2-dev
            lcov curl libyaml-dev
            libignition-cmake2-dev
            libignition-math4-dev
            libignition-common3-dev
          # Ignition tools
          - hg clone http://bitbucket.org/ignitionrobotics/ign-tools -b default
          - cd ign-tools
          - mkdir build
          - cd build
          - cmake ..
          - make -j4 install
          - cd ../..
          # Make sure ign-tools can find installed libs
          - export LD_LIBRARY_PATH=/usr/local/lib/:$LD_LIBRARY_PATH
          # Ignition Fuel Tools
          - mkdir build && cd build
          - cmake .. -DCMAKE_BUILD_TYPE=coverage
          - make codecheck
          - make -j4
          - make install
          - make test ARGS="-VV"
          - make coverage
          - bash <(curl -s https://codecov.io/bash)
          # Build examples
          - cd ../example
          - mkdir build && cd build
          - cmake ..
          - make -j4
