name: Ubuntu CI

on:
  pull_request:
  push:
    branches:
      - 'ign-fuel-tools[0-9]'
      - 'gz-fuel-tools[0-9]?'
      - 'main'

jobs:
  jammy-ci:
    runs-on: ubuntu-latest
    name: Ubuntu Jammy CI
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Compile and test
        id: ci
        uses: gazebo-tooling/action-gz-ci@jammy
